/* For modern browsers */
.clearfix:before,.clearfix:after {
	content: "";
	display: table;
}

.clearfix:after {
	clear: both;
}

/* For IE 6/7 (trigger hasLayout) */
.clearfix {
	*zoom: 1;
}

#main {
	width: 100%;
	margin: auto;
}

#head {
	float: left;
	width: 100%;
	background-color: #ffffff;
	border-top: 1px solid #bdd3fe;
	border-left: 1px solid #bdd3fe;
	border-right: 1px solid #bdd3fe;
}

#content {
	float: left;
	width: 100%;
	padding-top: 10px;
}

#header {
	float: left;
	width: 100%;
}

#logo {
	float: left;
	width: 50%;
}

#userinfo {
	float: left;
	width: 49%;
	padding-top: 1%;
	padding-right: 1%;
	text-align: right;
}

a {
	text-decoration: none;
	color: #3b71b5;
}

a:hover {
	color: #5e93fd;
}

#nav {
	float: left;
	width: 100%;
}

/****************** NAVIGATION MENU ******************/
ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

ul li {
	display: block;
	position: relative;
	float: left;
}

li ul {
	display: none;
}

ul li a {
	display: block;
	text-decoration: none;
	color: #ffffff;
	border-top: 1px solid #ffffff;
	padding: 5px 15px 5px 15px;
	background: #6395f8 url(custom-theme/images/ui-bg_glass_75_6395f8_1x400.png) 50% 50% repeat-x;
	margin-left: 1px;
	white-space: nowrap;
}

ul li a:hover {
	background: #e5ecf9 url(custom-theme/images/ui-bg_glass_75_e5ecf9_1x400.png) 50% 50% repeat-x;
	color: #5e93fd;
}

li:hover ul {
	display: block;
	position: absolute;
}

li:hover li {
	float: none;
	font-size: 11px;
}

li:hover a {
	background: #3b3b3b;
}

li:hover li a:hover {
	background: #1e7c9a;
}