@CHARSET "ISO-8859-1";

html,body {
	background-color: #272262;
	font: 85% 'Merriweather Sans', sans-serif, tahoma;
	height: 100%;
	color: rgb(59, 113, 181);
}

h1 {
	margin: 10px 0 10px 0;
	font-size: 22px;
	font-weight: normal;
}

input,select {
	color: rgb(59, 113, 181);
}

#invoice-list,#invoice-create,#company-list,#company-create,#company-show,#account-list,#account-create, #confirm-invoice
	{
	margin: auto 10px;
}

#invoice-list table,#invoice-create table,#company-list table,#company-create table,#company-show table,#account-list table,#account-create table,#confirm-invoice table
	{
	margin-top: 10px;
	font-size: 100%;
	width: 100%;
	border: 1px solid #bdd3fe;
}

#invoice-list table thead,#invoice-create table thead,#company-list table thead,#company-create table thead,#account-list table thead,#account-create table thead
	{
	border-bottom: 2px solid #bdd3fe;
	background: url("custom-theme/images/ui-bg_glass_75_6395f8_1x400.png")
		repeat-x scroll 50% 50% rgb(99, 149, 248);
	color: #ffffff;
	text-align: center;
}

#invoice-list table thead tr th,#company-list table thead tr th,#account-list table thead tr th {
	padding: 5px;
}

#invoice-list table tbody tr td,#company-list table tbody tr td,#account-list table tbody tr td {
	padding: 5px;
}

#invoice-list table,#company-list table,#account-list table {
	font-size: 95%;
}

#invoice-create table td,#company-create table td,#account-create table td, #confirm-invoice table td {
	padding: 5px;
	text-align: left;
	vertical-align: middle;
}

#invoice-create input,#invoice-create select,#company-create input,#company-create select,#account-create input,#account-create select, #confirm-invoice input {
	width: 100%;
	border: 1px solid #bdd3fe;
	padding: 3px;
}

#invoice-create input[type="checkbox"] {
	width: 10px;
}

#invoice-create select option {
	border: none;
}

#save-button {
	margin-top: 10px;
	width: 60px !important;
}

textarea {
	width: 100%;
	height: 60px;
	border: 1px solid #bdd3fe;
	padding: 5px;
	color: rgb(59, 113, 181);
}

.hwidth {
	width: 49.4% !important;
	color: rgb(59, 113, 181);
}

.rt {
	text-align: right !important;
}

.lt {
	text-align: left !important;
}

.ct {
	text-align: center !important;
}