@CHARSET "ISO-8859-1";

body {
	background-color: #272262;
	font-family: sans-serif, arial, helvetica, verdana;
}

.outshadow {
	-moz-box-shadow: 0 0 5px 5px #888;
	-webkit-box-shadow: 0 0 5px 5px #888;
	box-shadow: 0 0 5px 5px #888;
}

.dropshadow {
	-moz-border-radius: 5px;
	border-radius: 5px;
	-moz-box-shadow: 5px 5px 5px black;
	-webkit-box-shadow: 5px 5px 5px black;
	box-shadow: 5px 5px 5px black;
}

.rounded {
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
}

.topround {
	-moz-border-top-left-radius: 10px;
	-webkit-border-top-left-radius: 10px;
	-khtml-border-top-left-radius: 10px;
	border-top-left-radius: 10px;
	-moz-border-top-right-radius: 10px;
	-webkit-border-top-right-radius: 10px;
	-khtml-border-top-right-radius: 10px;
	border-top-right-radius: 10px;
}

.bottomround {
	-moz-border-bottom-left-radius: 10px;
	-webkit-border-bottom-left-radius: 10px;
	-khtml-border-bottom-left-radius: 10px;
	border-bottom-left-radius: 10px;
	-moz-border-bottom-right-radius: 10px;
	-webkit-border-bottom-right-radius: 10px;
	-khtml-border-bottom-right-radius: 10px;
	border-bottom-right-radius: 10px;
}

.textshadow {
	text-shadow: 1px 1px 2px #999;
}

#invoice-list,#invoice-create,#confirm-invoice {
	background-color: #dedded;
	padding: 10px;
	-webkit-box-shadow: 0 8px 6px -6px #ccc;
	-moz-box-shadow: 0 8px 6px -6px #ccc;
	box-shadow: 0 8px 6px -6px #ccc;
}

#invoice-list h1,#invoice-create h1 {
	text-shadow: 0 0 3px #F90;
}

#invoice-list a {
	padding-right: 0 !important;
}

#baru {
	background-color: #6960d7;
}

#baru a:link,a:visited {
	text-decoration: none;
	color: #fff;
}

#baru a:active,a:hover {
	text-decoration: none;
	color: #29255e;
}

#rincian {
	padding: 3px 5px 3px 5px;
	background-color: #6960d7;
	font-weight: bold;
}

#rincian a:link,a:active,a:hover,a:visited {
	text-decoration: none;
}

#rincian a:active,a:hover {
	text-decoration: none;
	color: #29255e;
}

#invoice-table-list {
	margin: 10px 0 0 0;
	background-color: #fff;
}

#invoice-table-list thead th {
	border-bottom: 2px solid #ccc;
	margin: 0;
}

#invoice-table-list thead th,tbody td {
	padding: 5px;
	margin: 0;
}

#invoice-table-list tbody {
	font-size: 90%;
}

#invoice-table-list a {
	color: red;
}

.medround {
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
}

.borright {
	border-right: 1px solid #ccc;
}

#invoice-create a {
	padding-right: 0 !important;
}

#invoice-detail-table {
	background-color: #fff;
}

#invoice-detail-table thead th {
	border-bottom: 2px solid #ccc;
}

#invoice-detail-table tfoot td {
	border-top: 2px solid #ccc;
}

#dialog-overlay { /* set it to fill the whil screen */
	width: 100%;
	height: 100%;
	/* transparency for different browsers */
	filter: alpha(opacity =   50);
	-moz-opacity: 0.5;
	-khtml-opacity: 0.5;
	opacity: 0.5;
	background: #000;
	/* make sure it appear behind the dialog box but above everything else */
	position: absolute;
	top: 0;
	left: 0;
	z-index: 3000;
	/* hide it by default */
	display: none;
}

#dialog-box { /* css3 drop shadow */
	background: #eee;
	/* styling of the dialog box, i have a fixed dimension for this demo */
	width: 80%;
	/* make sure it has the highest z-index */
	position: absolute;
	z-index: 5000;
	/* hide it by default */
	display: none;
}

#dialog-box .dialog-content { /* style the content */
	text-align: left;
	padding: 10px;
	margin: 13px;
	color: #666;
	font-family: arial;
	font-size: 11px;
}

a.button { /* styles for button */
	margin: 10px auto 0 auto;
	text-align: center;
	display: block;
	width: 50px;
	padding: 5px 10px 6px;
	color: #fff;
	text-decoration: none;
	font-weight: bold;
	line-height: 1;
	/* button color */
	background-color: #e33100;
	/* css3 implementation :) */
	/* rounded corner */
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	/* drop shadow */
	-moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
	/* text shaow */
	text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.25);
	border-bottom: 1px solid rgba(0, 0, 0, 0.25);
	position: relative;
	cursor: pointer;
}

a.button:hover {
	background-color: #c33100;
}

/* extra styling */
#dialog-box .dialog-content p {
	font-weight: 700;
	margin: 0;
}

#dialog-box .dialog-content ul {
	margin: 10px 0 10px 20px;
	padding: 0;
	height: 50px;
}

#detail-invoice {
	height: 500px;
}

.disclaimer p {
	color: #ffffff;
}